[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
django = "*"
djangorestframework = "*"
psycopg2 = "*"
gunicorn = "*"
python-dateutil = "*"
djangorestframework-csv = "*"

[requires]
python_version = "3.7"
